.info{
    background-color: blue;
    width: 350px;
    height: 200px;
    height: 100%;
    padding: 0.4rem;
    margin-top: 5px;
    margin: auto;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}
.input{
    margin-left: 10px;
}
.info button{
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    
}