*{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    list-style-type: none;
    outline: none;
    font-weight: 400;
}

.users{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 60px;
}

.user{
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 0.6rem;
}

nav{
    background-color: black;
    height: 12vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 0.2rem;
}

.nav-link{
    color: white;
    text-decoration: none;
    background-color: blue;
    margin: 5px;
    width: 80px;
    border-radius: 0.3rem;
    text-align: center;
    font-weight: bold;
}

.nav-link:hover{
    background-color: orange;
    color: black;
}

nav .active{
    background-color: green;
    color: black;
}

section{
    display: grid;
    grid-gap: 1rem;
}

article{
    background-color: rgb(23, 150, 185) ;
    border-radius: 0.5rem;
    padding: 0.6rem;
}

@media screen and (min-width:600px){
    section{
        grid-template-columns: auto auto ;
    }
}

@media screen and (min-width:992px){
    section{
        grid-template-columns: auto auto auto ;
    }
}

h1{
    background-color: green;
}